<div class="title">
	<span>Пропуска</span>
</div>
<div class="cards-body">
	<input type="text" class="search" value="Поиск" />
	<a class="do">Действия<span>&#9650;</span></a>
	<div class="line-cards select">
		<div class="name">Иванов Иван Иванович</div>
		<div class="work">Механический цех</div>
		<div class="type">Основной</div>
		<div class="status">Off</div>
		<div class="clear"></div>
	</div>
	<div class="line-cards">
		<div class="name">Иванов Иван Иванович</div>
		<div class="work">Механический цех</div>
		<div class="type">Основной</div>
		<div class="status">Off</div>
		<div class="clear"></div>
	</div>
	<div class="line-cards">
		<div class="name">Иванов Иван Иванович</div>
		<div class="work">Механический цех</div>
		<div class="type">Основной</div>
		<div class="status">Off</div>
		<div class="clear"></div>
	</div>
	<div class="line-cards">
		<div class="name">Иванов Иван Иванович</div>
		<div class="work">Механический цех</div>
		<div class="type">Основной</div>
		<div class="status">Off</div>
		<div class="clear"></div>
	</div>
</div>
<div class="clear" style="margin-bottom: 50px;"></div>