<div class="title">
	<span>Создание пропуска</span>
</div>
<div class="cards-body">
	<div class="error">К вашему компьютеру должно быть подключено устройство <br>
	для считывания и записи RFID-карта <br><br>
	Проверьте подключение</div>
	<div class="good">
		Положите карточку на устройство RFID считывания
		<a class="read-card">Прочитать карту</a>
	</div>
</div>
<div class="clear" style="margin-bottom: 50px;"></div>