<div class="line-cards" name="item">
	<div class="name">${f} ${i} ${o}</div>
	<div class="work">${job}</div>
	<div class="type">{{if temp == 1}} Основной {{else}} Временный {{/if}}</div>
	<div class="status">Off</div>
	<div class="clear"></div>
</div>