<div class="title">
	<span>Пропуска</span>
</div>
<div class="cards-body">
	<input type="text" class="search" value="Поиск" onclick="$(this).attr({'value': ''})" onblur="$(this).attr({'value': 'Поиск'})" />
	<a class="do">Действия<span>&#9650;</span></a>
	<div class="do-list">
		<a class="time">Добавить</a>
	</div>
	<div class="cardes"></div>
</div>
<div class="clear" style="margin-bottom: 50px;"></div>