<span class="logo"><img src="/images/logo.png" /></span>
<div>
	<p class="back">Назад</p>
	<img src="/images/top-vert.jpg" style="position: absolute; margin-left: 170px;" />
	<p class="main-button"><img src="/images/icon-exit.png" /></p>
	<img src="/images/top-vert.jpg" style="position: absolute; right: 160px;" />
	<p class="settings"><img src="/images/icon-setting.png" /></p>
	<img src="/images/top-vert.jpg" style="position: absolute; right: 220px;" />
	<p style="color: white;" id="greetings" ></p>
</div>
