<div class="line" style="color: #c7c7c7; font-size: 12px;">
	<div class="img">
		{{if visit_type == 1}} <img src="/images/enter.jpg" /> {{else}} <img src="/images/exit.jpg" /> {{/if}}
	</div>
	<div class="who">${f} ${i} ${o}</div>
	<div class="time">${visit}</div>
	<div class="where">Механический цех</div>
	<div class="clear"></div>
</div>