<div class="table-info" style="width: 647px; margin: 0 auto;">	
	<div class="info-head">Журнал</div>
	<div class="info-body">
		<div class="journal-items">
			<div class="left" style="float: left;">
				
			</div>
			<div class="scroll">
				<a class="up">&#9650;</a>
				<a class="down">&#9660;</a>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
<div class="clear" style="margin-bottom: 50px;"></div>