<div class="title">
	<span>Проходная 1</span>
	<a href="" class="other">Другие точки</a>
</div>
<div class="kpp-body">
	<div class="photo">
		<img src="/images/photo.jpg">
		<div class="clear"></div>
		<a href="" id="prev"></a>
		<span>Входит</span>
		<a href="" id="next"></a>
		<div class="clear"></div>
	</div>
	<div class="about">
		<span class="if"></span>
		<span class="o"></span>
		<span>Место работы</span>
		<span class="place"></span>
		<span>Возраст</span>
		<span class="old"></span>
		<span>Последний вход</span>
		<span class="last-enter"></span>
		<span>Последний выход</span>
		<span class="last-exit"></span>	
	</div>
	<div class="work">
		
	</div>
</div>
<div class="clear" style="margin-bottom: 50px;"></div>