<div class="title">
	<span>Проходная </span>
	<a class="other">Другие точки</a>
	<div class="kpps">
		<a classs="kpp-item">Kpp1</a>
		<a class="kpp-item">Kpp2</a>
		<a class="kpp-item">Kpp3</a>
	</div>
</div>
<div class="kpp-body">
	<div class="photo">
		<img src="/images/${photo}.jpg">
		<div class="atantion">Внимание</div>
		<div class="clear"></div>
		<a class="prev {{if visit_penult.type == 1}} {{else}} p-active {{/if}}"></a>
		<span>{{if visit_penult.type == 1}} Входит {{else}} Выходит {{/if}}</span>
		<a class="next {{if visit_penult.type == 1}} n-active {{else}}  {{/if}}"></a>
		<div class="clear"></div>
	</div>
	<div class="about">
		<span class="if">${f} ${i}</span>
		<span class="o">${o}</span>
		<span>Место работы</span>
		<span class="place">${job}</span>
		<span>Возраст</span>
		<span class="old">27 лет</span>
		<span>Последний вход</span>
		<span class="last-enter">${visit_last.date.substring(0, visit_last.date.length - 3)}</span>
		<span>Последний выход</span>
		<span class="last-exit">${visit_penult.date.substring(0, visit_last.date.length - 3)}</span>	
	</div>
	<div class="work">
		<a class="do">Действия<span>&#9650;</span></a>
		<div class="do-list">
			<a class="time">Выписать временный пропуск</a>
			<a class="dell">Аннулировать пропуск</a>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div class="table-info">	
	<div class="info-head">Журнал</div>
	<div class="info-body">
		<div class="journal">
			<div class="left">
				
			</div>
			<div class="scroll">
				<a class="up">&#9650;</a>
				<a class="down">&#9660;</a>
			</div>
			<div class="right">
				<div class="title-journal">Журнал за 24 часа</div>
				<a class="type" id="guests">Гости</a>
				<a class="type" id="entered">Вошедшие</a>
				<a class="type" id="all-journal">Весь журнал</a>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
<div class="clear" style="margin-bottom: 50px;"></div>