<form id="login-form">
	<input class="inp login" type="text" name="username" id="email" />
	<input class="inp password" type="password" name="password" id="password" />

<p class="submit">Войти</p>

<a class="remarka">Забыли пароль?</a>

</form>