<tr class="d-line">
	<td class="name">Проходная 1</td>
	<td class="name-d">GP90</td>
	<td class="key">Ключ</td>
	<td class="status green">Connected</td>
	<td class="delete">Delete</td>
	<td class="start">Stop</td>
	<div class="clear"></div>
</tr>