<div class="title">
	<span>Устройства</span>
	<a class="other">Еще настройки</a>
	<div class="kpps" style="position: absolute; right: 235px;">
		<a class="kpp-item" id="main">Главная</a>
		<a classs="kpp-item" id="devices">Устройства</a>
		<a class="kpp-item">3</a>
	</div>
</div>
<table class="devices-body">
	<tr class="d-line">
		<td class="name">Проходная 1</td>
		<td class="name-d">GP90</td>
		<td class="key">Ключ</td>
		<td class="status green">Connected</td>
		<td class="delete">Delete</td>
		<td class="start">Stop</td>
		<div class="clear"></div>
	</tr>
	<tr class="d-line">
		<td class="name">Проходная 1</td>
		<td class="name-d">GP90</td>
		<td class="key sel">Ключ</td>
		<td class="status red">Disconnected</td>
		<td class="delete">Delete</td>
		<td class="start">Start</td>
		<div class="clear"></div>
	</tr>
	<tr>
		<td class="show-key">
			<textarea>dasjdgaskdhashdkjashdk asdasd asd asd asd asd asd asd asdasdasdasdas asdasdasdasd asdasdasdasda asdasdasdasd asdasdasdasdasdasdad asdasdasdasdas asdadadad</textarea>
			<span class="copy">Скопировать в буфер</span>
			<span class="new">Сгенерировать новый</span>
		</td>
	</tr>
	<tr class="d-line">
		<td class="name">Проходная 1</td>
		<td class="name-d">GP90</td>
		<td class="key">Ключ</td>
		<td class="status">Disconnected</td>
		<td class="delete">Delete</td>
		<td class="start">Start</td>
		<div class="clear"></div>
	</tr>
	<tr class="d-line">
		<td class="name">Проходная 1</td>
		<td class="name-d">GP90</td>
		<td class="key">Ключ</td>
		<td class="status">Disconnected</td>
		<td class="delete">Delete</td>
		<td class="start">Start</td>
		<div class="clear"></div>
	</tr>
</table>