<tr class="d-line">
	<td class="name"><a>${name}</a></td>
	<td class="name-d"><a>${device_type_name}</a></td>
	<td class="key" id="t-${terminal_id}"><a>Ключ</a></td>
	<td class="status green"><a>Connected</a></td>
	<td class="delete"><a>Delete</a></td>
	<td class="start"><a>Stop</a></td>
	<div class="clear"></div>
</tr>
<tr>
	<td class="show-key" name="t-${terminal_id}">
		<textarea>dasjdgaskdhashdkjashdk asdasd asd asd asd asd asd asd asdasdasdasdas asdasdasdasd asdasdasdasda asdasdasdasd asdasdasdasdasdasdad asdasdasdasdas asdadadad</textarea>
		<span class="copy">Скопировать в буфер</span>
		<span class="new">Сгенерировать новый</span>
	</td>
</tr>