<div class="title">
	<span>Устройства</span>
	<a class="other">Еще настройки</a>
	<div class="kpps" style="position: absolute; right: 215px;">
		<a class="kpp-item" id="main">Главная</a>
		<a classs="kpp-item" id="devices">Устройства</a>
		<a class="kpp-item">3</a>
	</div>
</div>
<table class="devices-body">
	<!--<tr>
		<td class="show-key">
			<textarea>dasjdgaskdhashdkjashdk asdasd asd asd asd asd asd asd asdasdasdasdas asdasdasdasd asdasdasdasda asdasdasdasd asdasdasdasdasdasdad asdasdasdasdas asdadadad</textarea>
			<span class="copy">Скопировать в буфер</span>
			<span class="new">Сгенерировать новый</span>
		</td>
	</tr>-->
</table>