<!DOCTYPE html>
<html>
<head>
  <title>Fucking Fapica</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= juggernaut_meta_tags %>
  
  <script type="text/javascript" charset="utf-8">
    jQuery(function(){
      new Start({el: $("body")});
    });
  </script>
</head>
<body>

</body>
</html>
